@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Allison&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


/* radial gradiant rose-beige
    background: rgb(242, 151, 192);
    background: linear-gradient(45deg, rgba(242, 151, 192, 1) 16%, rgba(255, 211, 156, 1) 72%); */



:root {
    --pinkButtons: #F297C0;
    --violet: #330D34;
    --beige: #DAB785;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--violet);
    color: white;
}


/********* Header **********/
header {

    background: url(../img/background-header.png) center no-repeat;
    background-size: cover;
    min-height: 95vh;

}


h1 {
    font-family: "Allison", cursive;
    font-size: 7rem;
    color: rgb(242, 151, 192);
    color: linear-gradient(45deg, rgba(242, 151, 192, 1) 16%, rgba(255, 211, 156, 1) 45%);
}

.search {
    border: .1rem solid rgba(255, 239, 200, 0.862);
    background-color: transparent;
    border-radius: 3rem;
    padding: .2rem;
}

.search[placeholder] {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--beige);
    font-size: .9rem;
    padding: .3rem;
    height: 2.5rem;
}


button {
    background-color: var(--pinkButtons);
    padding: .7rem 2rem;
    border-radius: 3rem;
    border: none;
    box-shadow: 2px 2px 4px 2px rgba(211, 193, 133, 0.467);
    color: var(--violet);
    text-transform: uppercase;
    margin: 3rem .9rem;
    transition: .5s ease;
}

button:hover {
    transform: scale(1.1);
}

.IF {
    font-family: "Playfair Display", serif;
    text-decoration: none;
    padding: 0 .5rem;
    font-size: 1.5rem;
    color: #330D34;
}

.IF span {
    font-size: 2rem;
    color: #F297C0;
}


hr {
    width: .5rem !important;
    background: linear-gradient (rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5))
}

.header-text {
    margin-top: 1rem;
    width: 100vh;
    padding: 1rem;
    height: 50vh;
    text-align: center;
}

.header-text p {
    font-size: .7rem;
    letter-spacing: 2;
    width: 70%;
    text-align: center;
}

.nav-header {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-button {
    display: flex;
    align-items: center;
    /* margin: 0 auto; */
}

.search-button hr {
    transform: translateX(-25px);
    border: 1px solid antiquewhite;
}

.bas-header {
    display: flex;
    justify-content: space-between;
    /* margin: 3rem; */
}

.social {
    display: column;
    justify-content: space-between;
    width: 2rem;
    color: var(--beighe);
    transform: translateY(-50px);

    a {
        color: var(--beighe);
    }
}

a {
    text-decoration: none;
    color: var(--pinkButtons);
}


.scroll-hr {
    display: flex;
    width: 2rem;

    hr {
        border: 2px solid white !important;
        width: 1.5rem !important;
        opacity: 1 !important;
    }
}


.scroll {
    transform: rotate(90deg) translateX(-55px) translateY(-7px);
}

/* ******* Main  *******/

main {
    background: url(../img/BG-LIGHTS.png);
    background-size: cover;
    min-height: 95vh;

}

section {
    padding: 2rem 0;
}

h2 {
    font-family: "Aboreto", system-ui;
    color: white;
    margin: 2rem;
    font-size: 2rem;
}

.nav-bar ul {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    list-style: none;
    margin: 0 auto;
    border-bottom: .1px solid #815066;
    width: 70%;

    a {
        color: #7b5a7c;
        padding-bottom: 2rem;
    }

    a:hover {
        color: var(--pinkButtons);
        border-bottom: 3px solid var(--pinkButtons);
        border-radius: 3px;
    }
}

.nav-bar li {
    padding: 2rem;
    align-items: center;
    text-align: center;
}

/* section 1 */
.contenaire {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    align-items: center;
    margin: 0 2rem;

    .contain-img {
        max-width: 60vh;
        overflow: hidden;
        padding: 4rem;
    }

    .Img {
        transition: .5s ease;
        object-fit: contain;
        width: 100%;
        margin: 0 auto;
        /* border: .5em dotted var(--pinkButtons); */
        /* border-style: none dotted none none; */
    }

    .Img:hover {
        transform: scale(1.1);
    }

    .our-classes {
        width: 45%;
        margin: 0 auto;
    }
}



.search-button {
    align-items: center;
    justify-content: center;
}

p {
    text-align: center;
    letter-spacing: 1px;
    text-justify: distribute-all-lines;
}

/* Section 2 */

.global-contain {
    display: flex;

    align-items: center;
    margin: 0 6rem;
    /* border: 2px solid blue; */
    justify-content: center;

    .Apropos {
        padding: 4rem;
        width: 45%;
        align-items: center;
        justify-content: center;
    }
}



.bloc-images {
    /* border: 1px solid green; */
    display: flex;
    max-width: 75vh;
    flex-wrap: wrap;
    transition: .5s ease;

    img {
        object-fit: cover;
        width: 35vh;
        height: 35vh;
    }

    img:hover {
        transform: scale(1.1);
    }
}

.deco {
    border-style: dotted none none;
    width: 300px !important;
    border-width: .4rem;
    color: #fb6eae;
    transform: translateX(-50px);
    margin: .4rem;
    opacity: 1 !important;
}

/* *************FOOTER*********************** */

footer {
    padding: 3rem;

    .share {
        display: flex;
        justify-content: center;
    }

    .share li {
        padding: 0 .5rem;
        margin: .5rem;
    }

    .share a:hover {
        color: #F297C0;
    }

    .content-footer {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    li {
        list-style-type: none;
        padding: 1rem;
        text-align: center;
    }

    a {
        color: aliceblue;
    }

    a:hover {
        color: var(--pinkButtons);
    }

    .li-title {
        color: #F297C0;
        font-weight: bold;
        padding: 2rem;
        text-align: center;

    }

    .li-title:hover {
        border-bottom: .01rem solid var(--pinkButtons);
    }

    div {
        text-align: center;
        padding: 1rem;
    }

    .IF {
        color: #DAB785;
    }
}



/* //////////// MEDIA QUERIES ///////////////// */


/* Pour les petits appareils X-Small  -> inférieur ou égal à 575px */
@media(max-width:576px) {
    body {
        border: 3px solid #2846ee;

        main {
            margin: 0 !important;

            h2 {
                margin: .5rem;
                font-size: 2rem 1rem;
                text-align: center;
            }

            p {
                text-align: center;
            }

            ul {
                padding: 0 1rem !important;
                margin: 0 .5rem !important;
            }
        }

        /* M Q Section 1 */
        section {
            padding: 1rem 0;

            .contenaire {
                padding: 0 1rem !important;
                margin: 0 !important;
                display: block;
                align-items: center;


                .contain-img {
                    max-width: 60vh;
                    overflow: hidden;
                    padding: 1rem;
                    margin: 0 auto;

                }

                .our-classes {
                    width: 85%;
                    margin: 0 auto !important;
                }
            }
        }

        /* M Q Section 2 */

        .global-contain {
            display: block;
            margin: 0 !important;

            .Apropos {
                padding: 1rem !important;
                width: 85%;
                margin: 0 auto !important;
            }

            .bloc-images {
                margin: 0 auto;
            }

            .deco {
                padding: 0 1rem;
                margin: .4rem !important;
                transform: translateX(-20px);
            }
        }

        /* M Q Footer */
        footer {
            padding: 1rem;

            .li-title {
                padding: 1rem;
            }

            p {
                margin-bottom: 0;
            }

            div {
                padding: 0;
            }

            ul {
                padding-left: 1.5rem;
            }




        }

    }
}