@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Allison&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root
{
--pinkButtons:#F297C0;
--violet:#330D34;
--beighe: #DAB785;

}

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--violet); 
    color: white;
}


/********* Header **********/
header
{
    /* background: url("../img/pointes.jpg") center no-repeat; */
    /* background: rgb(41,22,39),
     linear-gradient(0deg, rgba(41,22,39,1) 0%, rgba(178,105,165,0.75) 50%, rgba(252,133,234,0.05) 100%), url("../img/pointes.jpg") ; */

    /* background-image:  url("../img/pointes.jpg"), url("../img/Gradient.png") ; */

    background: url(../img/background-header.png) center no-repeat;
    /* url("../img/pointes.jpg"), */
   
    background-size: cover;
    min-height:95vh;


    /* background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
    url("../img/pointes.jpg") center no-repeat ; */
}

h1
{
    font-family: "Allison", cursive;
    font-size: 7rem;
    color: rgb(76, 7, 95);
    color: radial-gradient(circle, rgb(194, 51, 213) 27%, rgba(255,211,156,1) 75%);
}

.search
{
    border: .1rem solid rgba(255, 239, 200, 0.862);
    background-color: transparent;
    border-radius: 3rem;
    padding: .2rem;
}

.search[placeholder]
{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--violet); 
    font-size: .9rem;
    padding: .3rem;
}


button
{
    background-color: var(--pinkButtons);
    padding: .7rem 2rem;
    border-radius: 3rem;
    border: none;
    box-shadow:2px 2px 4px 2px rgba(211, 193, 133, 0.467);
    color: var(--violet);
    text-transform: uppercase;
    margin: 3rem .9rem;
}

.IF
{
    font-family: "Playfair Display", serif;
    text-decoration: none;
    padding:0 .5rem;
    font-size: 1.5rem;
    color: #330D34;
}
.IF span
{
    font-size: 2rem;
    color: #F297C0;
}


hr
{
    width: 1.5rem;
}

.header-text
{
    margin-top: 5rem;
    width: 100vh;
    padding:5rem;
    height: 50vh;
}
.header-text p
{
    font-size: .7rem;
    letter-spacing: 2;
    width: 70%;
    text-align: center;
}

.nav-header
{
    padding: 3rem;
    display: flex;
    justify-content: space-between;
}

.search-button
{
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.search-button hr
{
    transform: translateX(-25px);
    border: 1px solid antiquewhite;
}

.bas-header
{
    display: flex;
    justify-content: space-between;
    margin: 3rem;
}

.social
{
    display:column;
    justify-content: space-between;
    width: 2rem; 
    color:var(--beighe) ;
    transform: translateY(-50px);
    a
    {
        color: var(--beighe);
    }
}

a
{
    text-decoration: none;
    color: var(--pinkButtons);
}


.scroll-hr
{
    display: flex ;
    width: 2rem;
    hr 
    {
        border: 1px solid beige;
    }
}
.scroll
{
    transform: rotate(90deg) translateX(-55px) translateY(-7px);
}

/* ******* Main  *******/

main
{
    margin:2rem;
}
h2
{
    font-family: "Aboreto", system-ui; 
    color: white;
    margin:2rem;
    font-size: 2rem;
}

.nav-bar ul
{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    list-style: none;
    margin: 0 auto;
    border-bottom: .1px solid #815066;
    width: 70%;
    a 
    {
        color:#7b5a7c;
        padding-bottom: 2rem;
    }
    a:hover 
    {
        color: var(--pinkButtons);
        border-bottom: 3px solid var(--pinkButtons);
        border-radius: 3px;
    }
}

.nav-bar li
{
     padding: 2rem;
     align-items: center;
     text-align: center;
}

/* section 1 */
.container
{
    display: flex;
    justify-content:space-between;
    
    /* border: 2px solid rgb(81, 0, 255); */
    padding: 0 4rem;
    align-items: center;
    margin: 0 4rem;

    .contain-img
    {
        /* border: 2px solid yellow; */
        max-width:60vh;
        overflow: hidden;
        padding: 4rem;
    }
    .Img
    {
        transition: .5s ease ;
        object-fit: contain;
        width: 100%;
        margin: 0 auto;
    }
    .Img:hover
    {
        transform: scale(1.1);  
    }

    .our-classes
    {
        width: 45%;
        margin: 0 auto;
    }
}


    
 .search-button
    {
        align-items: center;
        justify-content: center;
    }

p 
    {
        text-align: center;
        letter-spacing: 1px;
        text-justify:distribute-all-lines;
    }

/* Section 2 */

.global-contain
{
    display: flex;
    
    align-items: center;
    margin: 0 6rem;
    /* border: 2px solid blue; */
    justify-content: center;
    .Apropos
    {
        padding: 4rem;
        width: 45%;
        align-items: center;
        justify-content: center;
    }
}



.bloc-images
{
    /* border: 1px solid green; */
    display: flex;
    max-width:75vh; 
    /* max-height: 75%;  */
    /* height: auto; */
    flex-wrap: wrap;

    img 
    {
        object-fit: cover;
        width: 35vh;
        height: 35vh;
    }
}
